.body-contactanos {
    background-color: white;

    h1 {
        font-size: 2.7rem;
    }
}

.container-contactanos {
    --bs-gutter-x: $espacioGrande;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: $espacioXGrande;
    padding-left: $espacioXGrande;
    margin-right: auto;
    margin-left: auto;

    img {
        display: $invisible;
    }
}

.banners-contactanos {
    background-color: $color-primario;
    color: white;
    margin: 120px auto;
}

@media (min-width: $tablet) {
    .container-contactanos {
        display: flex;

        img {
            margin-top: $espacioXXGrande;
            display: $visible;
            width: 800px;
            height: 500px;
        }
    }
}

@media (min-width: $desktop) {
    .body-contactanos {
        h1 {
            font-size: 3rem;
        }
    }

    .container-contactanos {
        img {
            width: 900px;
            height: 600px;
        }
    }
}

@media (min-width: $desktopXL) {
    .container-contactanos {
        img {
            width: 1000px;
            height: 700px;
        }
    }
}