.body-contactanos {
    background-color: white;

    h1 {
        font-size: 2.7rem;
    }
}

.container-contactanos {
    --bs-gutter-x: $espacioGrande;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: $espacioXGrande;
    padding-left: $espacioXGrande;
    margin-right: auto;
    margin-left: auto;

    img {
        display: $invisible;
    }
}

.banners-contactanos {
    background-color: $color-primario;
    color: white;
    margin: 120px auto;
}

@media (min-width: $tablet) {
    .container-contactanos {
        display: flex;

        img {
            display: $visible;
            margin-top: $espacioXXGrande;
            width: 90%;
            height: 90%;
        }
    }
}

@media (min-width: $desktop) {
    .body-contactanos {
        h1 {
            font-size: 3rem;
        }
    }
}

// @media (min-width: $desktopXL) {
//     .container-contactanos {
//         img {
//             width: 100%;
//             height: 100%;
//         }
//     }
// }