.body-examenvisual {
    background-color: white;

    .container-examenvisual {
        --bs-gutter-x: $espacioGrande;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: $espacioXGrande;
        padding-left: $espacioXGrande;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: $tablet) {
    .container-examenvisual {
        @include grid-center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

        img {
            width: 100%;
            height: 50%;
        }
    }
}