* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-terciario;
    color: black;
}

h1 {
    font-family: $fuentePrincipal;
    margin-top: $espacioXGrande;
    margin-bottom: $espacioXGrande;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

// color: $color-primario;
// font-family: 'Permanent Marker', cursive;
// font-size: xx-large;


h2 {
    font-family: $fuentePrincipal;
    padding-top: $espacioXGrande;
    padding-bottom: $espacioXGrande;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-family: $fuentePrincipal;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
    font-family: $fuentePrincipal;
    // padding-top: $espacioMedio;
    // padding-bottom: $espacioChico;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-family: $fuenteSecundaria;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// Estilos para el HEADER

.pre-header {
    display: $invisible;

    .header-texto-promo {
        font-size: small;
    }
}

.iconos-rrss-header {
    display: flex;
    justify-content: start;
    gap: 8px;
    color: white;

    a {
        color: white;
    }
}

.iconos-logshop-header {
    display: flex;
    justify-content: end;
    gap: 8px;
    color: white;

    a {
        color: white;
    }
}

.navbar {
    background-color: $color-secundario;
}

.navbar-nav .nav-link.active {
    font-size: medium;
    font-weight: bolder;
    text-align: center;

    &:hover {
        color: $color-primario;
    }
}

.btn-outline-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #740bba;
    --bs-btn-border-color: #740bba;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #510583;
    --bs-btn-hover-border-color: #510583;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #740bba;
    --bs-btn-active-border-color: #740bba;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #30034e;
    --bs-btn-disabled-border-color: #30034e;
}


// Estilo para los banners de todas las páginas

.banners-principales {
    background-color: $color-primario;
    color: white;
    margin: $espacioXGrande auto;
}

.banners-secundarios {
    background-color: $color-secundario;
    margin: $espacioXGrande auto;
    color: black;
}



// Estilos compartidos para las CARDS y botones

.padre-cards {
    @include flex-columna;

    .card {
        transition: all .5s;

        &:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
    }
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #740bba;
    --bs-btn-border-color: #740bba;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #510583;
    --bs-btn-hover-border-color: #510583;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #740bba;
    --bs-btn-active-border-color: #740bba;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #30034e;
    --bs-btn-disabled-border-color: #30034e;
}


// Estilos para el FOOTER

.logo-footer {
    width: 150px;
    height: 144px;
    padding-bottom: $espacioMedio;
}

.iconos-rrss-footer {
    display: flex;
    justify-content: center;
    gap: 8px;
    color: black;

    a {
        color: $color-primario;
    }
}


// MEDIA QUERIES generales: Headers y cards

@media (min-width: $tablet) {
    .pre-header {
        display: $visible;
    }

    .menu-item-login-noshow,
    .menu-item-shopping-noshow {
        display: $invisible;
    }

    .padre-cards {
        @include grid-center;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: $desktop) {
    .padre-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $desktopXL) {
    .padre-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}


// Keyframe | Parpadeo

.keyframe-textos {
    animation-name: parpadeo;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes parpadeo {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 2;
    }
}