* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-terciario;
    color: black;
}

h1 {
    font-family: $fuentePrincipal;
    margin-top: $espacioXGrande;
    margin-bottom: $espacioXGrande;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

h2 {
    font-family: $fuentePrincipal;
    padding-top: $espacioXGrande;
    padding-bottom: $espacioXGrande;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-family: $fuentePrincipal;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
    font-family: $fuentePrincipal;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-family: $fuenteSecundaria;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}



// HEADER

.pre-header {
    display: $invisible;

    .header-texto-promo {
        font-size: small;
    }
}

.iconos-rrss-header {
    display: flex;
    justify-content: start;
    gap: 8px;
    color: white;

    a {
        color: white;
    }
}

.iconos-logshop-header {
    display: flex;
    justify-content: end;
    gap: 8px;
    color: white;

    a {
        color: white;
    }
}

.navbar {
    background-color: $color-secundario;
}

.navbar-nav .nav-link.active {
    font-size: medium;
    font-weight: bolder;
    text-align: center;

    &:hover {
        color: $color-primario;
    }
}

.btn-outline-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #740bba;
    --bs-btn-border-color: #740bba;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #510583;
    --bs-btn-hover-border-color: #510583;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #740bba;
    --bs-btn-active-border-color: #740bba;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #30034e;
    --bs-btn-disabled-border-color: #30034e;
}

@media (min-width: $tablet) {
    .pre-header {
        display: $visible;
    }

    .menu-item-login-noshow,
    .menu-item-shopping-noshow {
        display: $invisible;
    }
}



// BANNERS

.banners-principales {
    background-color: $color-primario;
    color: white;
    margin: $espacioXGrande auto;
}

.banners-secundarios {
    background-color: $color-secundario;
    margin: $espacioXGrande auto;
    color: black;
}



// CARDS: Lentes de sol, Ópticos y Accesorios

.padre-cards {
    @include flex-columna;
    gap: 2rem;

    .card {
        height: 25.6rem;
        width: 17.5rem;
    }
}

.card-text-price {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.02);
}


.btn-productos {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 15px;
    padding-bottom: 15px;
    gap: 10px;

    .btn-shop-fav {
        color: $color-primario;
        background-color: rgba(0, 0, 0, 0.125);
        padding: 6px;
        border-radius: 20px;
        transition: all .5s;

        &:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }

}

.nuevos-productos {
    position: absolute;
    top: -5px;
    right: -5px;

    p {
        font-family: $fuenteSecundaria;
        font-size: 0.8rem;
        font-style: italic;
        color: white;
        background-color: red;
        border-radius: 5px;
        padding: 5px;
    }
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #740bba;
    --bs-btn-border-color: #740bba;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #510583;
    --bs-btn-hover-border-color: #510583;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #740bba;
    --bs-btn-active-border-color: #740bba;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #30034e;
    --bs-btn-disabled-border-color: #30034e;
}

.fuenteprincipal {
    font-family: $fuentePrincipal;
}

@media (min-width: $tablet) {
    .padre-cards {
        @include grid-center;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: $desktop) {
    .padre-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $desktopXL) {
    .padre-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}



// Keyframes | Parpadeo

.keyframe-textos {
    animation-name: parpadeo;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes parpadeo {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 2;
    }
}



// FOOTER

.logo-footer {
    width: 150px;
    height: 144px;
    padding-bottom: $espacioMedio;
}

.iconos-rrss-footer {
    display: flex;
    justify-content: center;
    gap: 8px;
    color: black;

    a {
        color: $color-primario;
    }
}