// MAIN: texto descriptivo + cards

.index-texto-descriptivo {
    font-family: $fuenteSecundaria;
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
}

.index-texto-descriptivo-hr {
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    margin: $espacioXXGrande auto $espacioXXGrande auto;
}

.strong-inicio {
    font-weight: bold;
    font-style: italic;
}

// CATÁLOGO

.contenedor-catalogo {
    @include grid-center;
    grid-template-columns: 1fr;
    padding: 20px;
}

.portadas-catalogo-texto {
    margin-top: 50px;
    margin-bottom: 30px;
    color: $color-primario;
    font-family: $fuentePrincipal;
    font-size: 2rem;
}

.portadas-catalogo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 5px;
}

@media (min-width: $tablet) {
    .contenedor-catalogo {
        @include grid-center;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;

        .portadas-catalogo-texto {
            font-size: 1.9rem;
        }
    }
}

@media (min-width: $desktop) {
    .portadas-catalogo {
        width: 95%;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    .portadas-catalogo-texto {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}


// NUEVOS PRODUCTOS: carrusel

.carousel-caption-nuevosproductos-white {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}


// LOS MÁS VENDIDOS: cards

.padre-cards-index {
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 3rem;

    .cards-index {
        box-shadow: 0, 4px 6px, rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        overflow: hidden;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .card-botones-index {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .btn-carrito img {
        width: 20px;
        height: 20px;
        transition: all .2s;

        &:hover {
            transform: scale(1.5);
            cursor: pointer;
        }
    }

    .btn-favorito {
        @extend .btn-carrito;
    }

    .btn-moreinfo {
        @extend .btn-carrito;
    }
}