// Paleta de colores
$color-primario: #740bba;
$color-secundario: #F7EFE5;
$color-terciario: #FFFBF5;


// Responsive
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

// Espacios (márgenes y padding)
$espacioXChico: 0.25rem;
$espacioChico: 0.5rem;
$espacioMedio: 1rem;
$espacioGrande: 1.5rem;
$espacioXGrande: 3rem;
$espacioXXGrande: 5rem;
$espacioXXXGrande: 10rem;

//Fuentes
$fuentePrincipal: 'Montserrat', sans-serif;

// Visibilidad
$visible: flex;
$invisible: none;


// MIXINS
@mixin flex-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@mixin flex-fila {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@mixin grid-center {
    display: grid;
    justify-items: center;
}

@mixin bg-white {
    background-color: white;
    color: black;
    font-family: $fuentePrincipal;
}